<div class="container">
  <h1>Liste des Dossiers de Recouvrement</h1>

  <!-- Formulaire d'importation de fichier CSV -->
  <div *ngIf="hasDGCRRole()" class="import-container">
    <label for="csvFile">Importer un fichier CSV pour la détection des impayés</label>
    <input type="file" id="csvFile" (change)="onFileChange($event)" />
    <button (click)="onSubmit()">Télécharger</button>
  </div>

  <!-- Tableau des dossiers -->
  <table class="dossiers-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Numéro de Compte</th>
        <th>Status</th>
        <th>Impaye</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dossier of dossiers">
        <td>{{ dossier.idDossier }}</td>
        <td>{{ dossier.accountNumber }}</td>
        <td>{{ dossier.status }}</td>
        <td>{{ dossier.impaye }}</td>
        <td>
          <button *ngIf="hasRecouvrementRole()" (click)="deleteDossier(dossier.idDossier)" class="btn-supprimer">Supprimer</button>
          <button *ngIf="hasRecouvrementRole()" (click)="modifyDossier(dossier.idDossier)" class="btn-voir-modifier">Modifier</button>
          <button *ngIf="hasRecouvrementRole()" (click)="viewDossier(dossier.idDossier)" class="btn-details">Voir les détails</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
