<header>
  <div class="logo-container">
    <img src="assets/logo.png" alt="Banque Nationale de Mauritanie Logo">
    <h1>Banque Nationale de Mauritanie</h1>
  </div>
</header>

<div class="login-container">
  <h2 id="login-title">Connectez Vous</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="input-group">
      <input
        type="email"
        id="username"
        placeholder="Identifiant"
        [(ngModel)]="email"
        name="username"
        required
        [class.error]="errorMessage"
        autocomplete="email">
    </div>
    <div class="input-group">
      <input
        type="password"
        id="password"
        placeholder="Mot de passe"
        [(ngModel)]="password"
        name="password"
        required
        [class.error]="errorMessage"
        autocomplete="current-password">
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <button 
      type="submit" 
      class="login-btn" 
      id="login-btn"
      [disabled]="isLoading">
      {{ isLoading ? 'Chargement...' : 'Connexion' }}
    </button>
  </form>
</div>