<main class="main-content">
  <div class="container">
    <!-- Search and Action Bar -->
    <div class="actions-bar">
      <div class="search-container">
        <i class="material-icons">search</i>
        <input 
          [(ngModel)]="searchTerm" 
          (input)="onSearchChange($event)"
          placeholder="Rechercher par ID, Compte ou Statut">
        <div *ngIf="isLoading" class="loading-spinner">
          <i class="material-icons rotating">sync</i>
        </div>
      </div>
      <button *ngIf="RoleService.hasEditPermission()" class="add-credit-btn" (click)="navigateToAdd()">
        <i class="material-icons">add_circle</i>
        Ajouter un Crédit
      </button>
    </div>

    <!-- Credits Table -->
    <div class="table-container" *ngIf="credits.length > 0; else noCredits">
      <table>
        <thead>
          <tr>
            <th>ID Crédit</th>
            <th>ID Compte</th>
            <th>Montant</th>
            <th>Date Début</th>
            <th>Statut</th>
            <th *ngIf="RoleService.hasEditPermission()">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let credit of credits">
            <td>{{ credit.idCredit }}</td>
            <td>{{ credit.compte?.nomCompte }}</td>
            <td>{{ credit.montant | currency:'EUR':'symbol':'1.0-0' }}</td>
            <td>{{ credit.dateDebut | date:'dd/MM/yyyy' }}</td>
            <td>
              <span class="status-chip" [ngClass]="getStatusClass(credit.statut)">
                {{ credit.statut }}
              </span>
            </td>
            <td *ngIf="RoleService.hasEditPermission()">
              <div class="action-buttons" >
                <button class="view-btn" (click)="navigateToDetails(credit.idCredit)">
                  <i class="material-icons">visibility</i>
                  Détails
                </button>
                <button class="edit-btn" (click)="navigateToEdit(credit.idCredit)" *ngIf="authService.hasDODCRole">
                  <i class="material-icons">edit</i>
                  Modifier
                </button>
                <button class="delete-btn" (click)="deleteCredit(credit.idCredit)" *ngIf="authService.hasDODCRole">
                  <i class="material-icons">delete</i>
                  Supprimer
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- No Credits Message -->
    <ng-template #noCredits>
      <div class="no-credits-message">
        <i class="material-icons">credit_card_off</i>
        <p>Aucun crédit trouvé</p>
      </div>
    </ng-template>
  </div>
</main>