<div class="detail-container">
    <h2>Détails du Dossier de Recouvrement</h2>
  
    <div class="detail-item">
      <span class="label">Numéro de Compte:</span>
      <span class="value">{{ dossier.accountNumber }}</span>
    </div>
  
    <div class="detail-item">
      <span class="label">Impaye:</span>
      <span class="value">{{ dossier.impaye }}</span>
    </div>
  
    <div class="detail-item">
      <span class="label">Status:</span>
      <span class="value">{{ dossier.status }}</span>
    </div>
  
    <div class="detail-item">
      <span class="label">Sold:</span>
      <span class="value">{{ dossier.sold }}</span>
    </div>
  
    <div class="detail-item">
      <span class="label">PR:</span>
      <span class="value">{{ dossier.PR }}</span>
    </div>
  
    <div class="detail-item">
      <span class="label">Encour:</span>
      <span class="value">{{ dossier.encour }}</span>
    </div>
  
    <div class="btn-container">
      <button class="btn-info">Retour</button>
    </div>
  </div>
  