<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<div class="sidebar">
  <div class="logo">
    <img src="assets/logo.png" alt="Logo BNM" class="logo-img" />
    <div class="logo-text">
      <h3>BNM Systeme</h3>
      <p>Portail de gestion des dettes</p>
    </div>
  </div>
  <ul class="menu">
    <li><a routerLink="/dashboard" routerLinkActive="active"><i class="fas fa-home"></i> Dashboard</a></li>
    <li class="section-title">Gestion de la récupération</li>
    <li><a routerLink="/clients" routerLinkActive="active"><i class="fas fa-users"></i> Clients</a></li>
    <li><a routerLink="/comptes" routerLinkActive="active"><i class="fas fa-credit-card"></i> Comptes</a></li>
    <li><a routerLink="/garanties" routerLinkActive="active"><i class="fas fa-shield-alt"></i> Garantue</a></li>
    <li><a routerLink="/credits" routerLinkActive="active"><i class="fas fa-money-bill-wave"></i> Crédit</a></li>
    <li><a routerLink="/dossier-recouvrement" routerLinkActive="active"><i class="fas fa-folder-open"></i> Dossiers Recouvrement</a></li>
  </ul>
</div>

