<aside class="sidebar">
  <div class="logo">
    <img src="assets/logo.png" alt="Logo BNM" class="logo-img" />
  </div>

  <nav class="menu">
    <a routerLink="/dashboard" routerLinkActive="active" class="menu-item">
      <i class="material-icons">dashboard</i> Dashboard
    </a>

    <div class="section-title">Gestion de la récupération</div>

    <a routerLink="/clients" routerLinkActive="active" class="menu-item">
      <i class="material-icons">people</i> Clients
    </a>

    <a routerLink="/comptes" routerLinkActive="active" class="menu-item">
      <i class="material-icons">credit_card</i> Comptes
    </a>

    <a routerLink="garanties" routerLinkActive="active" class="menu-item">
      <i class="material-icons">shield_alt</i> Garanties
    </a>

    <a routerLink="credits" routerLinkActive="active" class="menu-item">
      <i class="material-icons">money_bill_wave</i> Crédit
    </a>

    <a routerLink="dossier-recouvrement" routerLinkActive="active" class="menu-item">
      <i class="material-icons">folder_open</i> Dossiers Recouvrement
    </a>
  </nav>
</aside>