<div class="container">
  <div class="stat-container" *ngIf="!isLoading && !error">
    <div class="stat-card">
      <h3>
        <i class="material-icons">folder</i>
        Total Dossiers
      </h3>
      <p>{{ stats.totalDossiers }}</p>
    
    </div>
    
    <div class="stat-card">
      <h3>
        <i class="material-icons">account_balance</i>
        Total Comptes
      </h3>
      <p>{{ stats.totalComptes }}</p>
  
    </div>
    
    <div class="stat-card">
      <h3>
        <i class="material-icons">people</i>
        Total Clients
      </h3>
      <p>{{ stats.totalClients }}</p>
    
    </div>
    
    <div class="stat-card">
      <h3>
        <i class="material-icons">credit_card</i>
        Total Crédit
      </h3>
      <p>{{ stats.totalCredits }}</p>
    
    </div>
  </div>

  <!-- Indicateur de chargement -->
  <div *ngIf="isLoading" class="loading-state">
    <i class="material-icons rotating">sync</i>
    Chargement des données...
  </div>

  <!-- Message d'erreur -->
  <div *ngIf="error" class="error-message">
    <i class="material-icons">error</i>
    {{ error }}
  </div>
</div>
